body{
  font-family: 'Poppins', sans-serif;
}
.name-color{
  color: orange;
}
.border-line{
  border-left: 3px solid red;
  }
  .font-dev-color{
    color: seagreen;
  }
  .top-banner {
    display: flex;
    margin: 100px;
    margin-bottom: 20px;
  }
  .half-width{
    width: 50%;
    padding-left: 5px;
    
  
  
  }
  .half-width img{
    
    width: 80%;
 }
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;


  }
  .my-mis-2022{
    text-align: center;
  }
.flexibol-container{
    display: flex;
    margin: 80px;
    margin-bottom: 10px;
    
  }
  .box-item-1{

    margin: 20px 20px 20px;
    box-shadow: 10px 10px 20px none;
    border-radius: 20px;
    background-color: #D2B48C;
    bac
  }
  .box-item-2{

    margin: 20px 20px 20px;
    box-shadow: 10px 10px 20px white;
    border-radius: 20px;
    background-color: pink;
  }
  .box-item-3{

    margin: 20px 20px 20px;
    box-shadow: 10px 10px 20px white;
    border-radius: 20px;
    background-color: #C0C0C0;
  }
  .illus-img{
    width: 50%;
  }
  




  


 

 




  








